<app-auth-layout
    title="Signup"
    primaryBtnText="Cadastrar"
    secundaryBtnText="Já tem conta? Login."
    secundaryBtnLink="/login"
    (submit)="onSubmit()"
>
    <form [formGroup]="signupForm"> 
        <app-primary-input
            inputName="username"
            type="text"
            placeholder="Digite um username"
            label="Username"
            formControlName="username"
        >
        </app-primary-input>

        <app-primary-input
            inputName="email"
            type="text"
            placeholder="seuemail@gmail.com"
            label="Email"
            formControlName="email"
        >
        </app-primary-input>

        <app-primary-input
            inputName="telephone"
            type="text"
            placeholder="+55 91 90000-0000"
            label="Telefone"
            formControlName="telephone"
        >
        </app-primary-input>

        <app-primary-input
            inputName="password"
            type="password"
            label="Senha"
            formControlName="password"
        >
        </app-primary-input>

        <app-primary-input
            inputName="passwordConfirmed"
            type="password"
            label="Confirme sua Senha"
            formControlName="passwordConfirmed"
        >
        </app-primary-input>
    </form>

</app-auth-layout>
