<app-auth-layout
    title="Login"
    primaryBtnText="Entrar"
    secundaryBtnText="Não tem conta? Cadastre-se."
    secundaryBtnLink="/signup"
    (submit)="onSubmit()"
>
    <form [formGroup]="loginForm"> 
        <app-primary-input
            inputName="email"
            type="text"
            placeholder="seuemail@gmail.com"
            label="Email"
            formControlName="email"
        >
        </app-primary-input>

        <app-primary-input
            inputName="password"
            type="password"
            label="Password"
            formControlName="password"
        >
        </app-primary-input>
    </form>

</app-auth-layout>
